mixin sBlog(title, footer)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			+b.section-title
				h1!= title
			block
			//- +e.row.row.rows-underlined
			//- 	.col-md-6.col-lg-4
			//- 		+article-item(`sArticles-1.jpg`, `Напольные покрытия`, `Как выбрать хороший ламинат&nbsp;&mdash; советы покупателям`)
			//- 	.col-md-6.col-lg-4
			//- 		+article-item(`sArticles-2.jpg`, `Напольные покрытия`, `Подложка под ламинат: сравнительный обзор различных видов`)
			//- 	.col-md-6.col-lg-4
			//- 		+article-item(`sArticles-3.jpg`, `Напольные покрытия`, `Подготовка деревянного пола к&nbsp;укладке ламината`)
			//- 	.col-md-6.col-lg-4
			//- 		+article-item(`sArticles-4.jpg`, `Напольные покрытия`, `Как выбрать хороший ламинат&nbsp;&mdash; советы покупателям`)
			//- 	.col-md-6.col-lg-4
			//- 		+article-item(`sArticles-5.jpg`, `Напольные покрытия`, `Подготовка деревянного пола к&nbsp;укладке ламината`)
			//- 	.col-md-6.col-lg-4
			//- 		+article-item(`sArticles-6.jpg`, `Напольные покрытия`, `Подложка под ламинат: сравнительный обзор различных видов`)
			//- 	// .rows-underlined__col - подчеркивание последнего ряда
			//- 	// .rows-underlined__col.rows-underlined__col--blank - без подчеркивания последнего ряда
			//- 	.rows-underlined__col.rows-underlined__col--blank
			if footer
				+e.footer
					+e.btn(href="#").btn.btn-light Загрузить ещё
					+pagin-sm().d-sm-none
					+pagin-lg().d-none.d-sm-block
	// end sBlog