mixin sBlog(title, footer)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			+b.section-title
				h1!= title
			block
			if footer
				+e.footer
					+e.btn(href="#").btn.btn-light Загрузить ещё
					+pagin-sm().d-sm-none
					+pagin-lg().d-none.d-sm-block
	// end sBlog