mixin sProductCard(data)
	// start sProductCard
	+b.SECTION.sProductCard.section#sProductCard&attributes(attributes)
		.container
			+b.section-title
				h1 Ламинат Artens &laquo;Сосна Верона&raquo; 33&nbsp;класс толщина 10&nbsp;мм с&nbsp;фаской 2.131&nbsp;м&sup2;
				+e.row.row
					.col-7.col-sm-auto
						+e.star-wrap
							+star-block()
							span 12 отзывов
					.col-5.col-sm.order-sm-last
						p Арт. 00000000
					.col-auto
						+e.btn(href="#")
							+icon('message')
							| Задать вопрос
					.col-auto.d-none.d-lg-block
						+e.btn(href="#")
							+icon('like')
							| В избранное
					.col-auto.d-none.d-lg-block
						+e.btn(href="#")
							+icon('compare')
							| Добавить к сравнению
					.col-auto
						+e.btn(href="#")
							+icon('share')
							| Поделиться
			+e.row.row
				.col-lg-7
					+e.full-slider-wrap
						+e.thumb-arrow-wrap.d-none.d-lg-flex
							+e.thumb-slider--thumb-js.swiper
								.swiper-wrapper
									-for(let i = 1; i <= 6; i++)
										+e.slide-thumb.swiper-slide
											+e.img-wrap
												.img-wrap-center
													+img(`img/sProdCard-thumb-img-${i}.jpg`)
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img(`img/sProdCard-thumb-img-1.jpg`)
							+arrow('chevron-down-dd', 'chevron-down-dd')
						+e.swiper-wrap
							+e.links.d-lg-none
								+e.link(href='#'): +icon('compare')
								+e.link(href='#'): +icon('like')
							+e.slider--js.swiper
								.swiper-wrapper
									-for(let i = 0; i < 3; i++)
										+e.slide.swiper-slide
											+e.img-wrap(data-fancybox='modal' data-src="modal-slider")
												.img-wrap-center
													+img('img/sProdCard-img-1.jpg', 'bg')
										+e.slide.swiper-slide
											+e.img-wrap(data-fancybox='modal' data-src="modal-slider")
												.img-wrap-center
													+img('img/sProdCard-img-2.jpg', 'bg')
									+e.slide.swiper-slide
										+e.img-wrap(data-fancybox='modal' data-src="modal-slider")
											.img-wrap-center
												+img('img/sProdCard-img-1.jpg', 'bg')
							+arrow()
							.swiper-pagination.d-lg-none
				.col-lg-5
					+e.price-wrap
						+e.label-wrap.row
							.col-auto: +e.label.btn-primary Бестселлер
							.col-auto: +e.label.btn-danger Скидка -30%
						+e.headline
							h2 3 980 ₽
							span 00 000 ₽
							p 1 350 ₽/м²
						+e.bonus +420 бонусных рублей
						+e.btn-row.row
							.col-sm
								+e.btn.btn.btn-primary(href="#") Добавить в корзину
							.col-sm
								+e.btn.btn.btn-outline-primary(href="#") Купить в 1 клик
					+e.sizes
						h6 Ширина (см):
						.row
							mixin item(t)
								.col-auto
									+in-c('radio', t, 'size')
							+item('15,8')
							+item('28')
							+item('32')
							+item('72')
					+e.order
						h5 Заказжите услуги
						mixin item(i, title, price)
							+in-c('checkbox')
								+e.item
									+img(`img/svg/sProductCard-icon-${i}.svg`)
									h6!= title
									+e.price!= price
						+item(1, 'Замер помещения для укладки напольных покрытий ' ,'от 990 ₽')
						+item(2, 'Укладка ламината ' ,'от 290 ₽')
	// end sProductCard