
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-slider"  style="display: none" )
		+b.sProductCard--modal
			+e.row.row
				.col-12
					+e.full-slider-wrap
						+e.thumb-arrow-wrap--modal.d-none.d-lg-flex
							+e.thumb-slider--thumb-js-2.swiper
								.swiper-wrapper
									-for(let i = 1; i <= 6; i++)
										+e.slide-thumb.swiper-slide
											+e.img-wrap
												.img-wrap-center
													+img(`img/sProdCard-thumb-img-${i}.jpg`)
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img(`img/sProdCard-thumb-img-1.jpg`)
							+arrow('chevron-down-dd', 'chevron-down-dd')
						+e.swiper-wrap--modal
							+e.slider--js-2.swiper
								.swiper-wrapper
									-for(let i = 0; i < 3; i++)
										+e.slide.swiper-slide
											+e.img-wrap
												.img-wrap-center
													+img('img/sProdCard-img-1.jpg', 'bg')
										+e.slide.swiper-slide
											+e.img-wrap
												.img-wrap-center
													+img('img/sProdCard-img-2.jpg', 'bg')
									+e.slide.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-1.jpg', 'bg')

							+arrow()
							.swiper-pagination.d-lg-none
	// #modal-call
	
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				+e.title.form-data.h2 Titile modal form
				p.after-headline Description

				+input("Label")
				+input("Label")
				+input("Label")
				+input("Label")
				+policy2()
				+e.BUTTON.btn.btn.btn-primary(type="submit"  )  Button name
				+e.rules Нажимая на кнопку, вы соглашаетесь с #[a(href="#") Условиями обработки персональных данных ], определенных в 
					a(href="#") Политике конфиденциальности
	// end modals