mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			//- +b.section-title.text-center
			//- 	h1 ?????
			.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+headerBlock-item(`Скидка 50% <br> на второй товар`, `Покупая любые напольные покрытия в&nbsp;кредит или наличными`, 1, `Узнать подробнее`)
						+e.slide.swiper-slide
							+headerBlock-item(`Lorem ipsum dolor sit amet.`, `Lorem ipsum dolor sit, consectetur adipisicing elit.`, 1, `Узнать подробнее`)
						+e.slide.swiper-slide
							+headerBlock-item(`Скидка 50% <br> на второй товар`, `Покупая любые напольные покрытия в&nbsp;кредит или наличными`, 1, `Узнать подробнее`)
						+e.slide.swiper-slide
							+headerBlock-item(`Lorem ipsum dolor amet.`, `Lorem ipsum dolor sit, amet consectetur adipisicing elit.`, 1, `Узнать подробнее`)
				.swiper-pagination
				+arrow

	// end headerBlock

mixin headerBlock2()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			//- +b.section-title.text-center
			//- 	h1 ?????
			.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+headerBlock-item(`Супер скидка на&nbsp;новинку`, `от&nbsp;двух товаров напольного покрытия`, 2, ``, `a`).--narrow
						+e.slide.swiper-slide
							+headerBlock-item(`Lorem ipsum dolor sit amet.`, `от&nbsp;двух товаров напольного покрытия`, 2, ``, `a`).--narrow
						+e.slide.swiper-slide
							+headerBlock-item(`Супер скидка на&nbsp;новинку`, `от&nbsp;двух товаров напольного покрытия`, 2, ``, `a`).--narrow
						+e.slide.swiper-slide
							+headerBlock-item(`Lorem ipsum dolor amet.`, `от&nbsp;двух товаров напольного покрытия`, 2, ``, `a`).--narrow
				.swiper-pagination
				+arrow

	// end headerBlock