mixin sGoods(data)
	// start sGoods
	+b.SECTION.sGoods.section#sGoods&attributes(attributes)
		.container
			+section-title('Паркетная доска', '', '', 'mnu', `Товары 1-13 из 56`)
				+weRecommend
			+b.sorting
				+e.row.row
					.col.col-md-auto.col-xxl-3.asideCol
						+e.filtered-amount
							span 56
							| товаров
					.col-auto.col-md
						+e.row--sm.row
							.col.d-none.d-md-block
								+e.menu
									ul
										li.active
											a(href='#') По&nbsp;популярности
										li
											a(href='#') По&nbsp;цене
										li
											a(href='#') По&nbsp;размеру скидки
										li
											a(href='#') По&nbsp;рейтингу
							.col-auto
								+e.view
									+e.btn(href="#")
										+icon('row')
									+e.btn.active(href="#")
										+icon('grid')
			+e.row.row
				.col-12.col-lg-auto.col-xxl-3.asideCol
					+sFilter()
				.col
					block
					+e.footer
						+e.btn(href="#").btn.btn-light Загрузить ещё
						+pagin-sm().d-sm-none
						+pagin-lg().d-none.d-sm-block
	// end sGoods