extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
//- include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sPopular/_sPopular.pug
//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sArticles/_sArticles.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sFilter/_sFilter.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()


	+header()
		+topLine
		+top-nav()
	main
		+breadcrumb('Паркет', 'Главная', 'Напольные покрытия', 'Паркетная доска')
		+sGoods()
			.row.rows-underlined
				- for (var i = 0; i < 6; i++)
					.col-sm-6.col-xl-4
						+product-card({"class": "btn-danger", "name": "Скидка&nbsp;-30%"},{"class": "btn-info", "name": "Рассрочка 0-0-24"})
				// .rows-underlined__col - подчеркивание последнего ряда
				// .rows-underlined__col.rows-underlined__col--blank - без подчеркивания последнего ряда
				.rows-underlined__col
		//- +headerBlock().pt-2
		//- +sCategories()
		//- +sPopular()
		//- +sCatalog()
		//- +headerBlock2()
		//- +sArticles(`Советы эксперта`, 'Смотреть все')
		//- +sForm()
		//- +sContact()

	+footer()




