extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
//- include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sPopular/_sPopular.pug
//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sArticles/_sArticles.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCategories/_sCategories.pug
include ../blocks/sBlog/_sBlog.pug
//- include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Все акции'
	title= title
block pagecontent
	//- +mob-mnu()


	+header()
		+topLine
		+top-nav()
	main
		+breadcrumb('Вернуться назад', 'Главная', 'Акции', 'Хлебные крошки')
		+sBlog(`Все акции`).pb-0
			.row.rows-underlined
				.col-md-6.col-lg-4
					+article-item(`sArticles-7.jpg`, `Постоянная акция`, `Скидка&nbsp;15% на&nbsp;обои`, `при покупке напольных покрытий`)
				.col-md-6.col-lg-4
					+article-item(`sArticles-8.jpg`, `Постоянная акция`, `Новинки уже в&nbsp;продаже`, `при покупке напольных покрытий`)
				.col-md-6.col-lg-4
					+article-item(`sArticles-9.jpg`, `Постоянная акция`, `Скидка&nbsp;20% на&nbsp;второй заказ`, `при покупке напольных покрытий`)
				.col-md-6.col-lg-4
					+article-item(`sArticles-10.jpg`, `Постоянная акция`, `Скидка&nbsp;15% на&nbsp;обои`, `при покупке напольных покрытий`)
				.col-md-6.col-lg-4
					+article-item(`sArticles-11.jpg`, `Постоянная акция`, `Новинки уже в&nbsp;продаже`, `при покупке напольных покрытий`)
				.rows-underlined__col.rows-underlined__col--blank
				// - без подчеркивания последнего ряда
		//- +headerBlock().pt-2
		//- +sCategories()
		//- +sPopular()
		//- +sCatalog()
		//- +headerBlock2()
		//- +sArticles()
		//- +sForm()
		//- +sContact()

	+footer()




