mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			block
	// end sContent

mixin blogArticle()
	+b.section-title
		h1 Блог
	+e.wrap
		h3 Итернет магазин Decor Parket
		p Компания DEKOR PARKET имеет многолетний опыт на&nbsp;рынке напольных покрытий. За&nbsp;это время мы&nbsp;зарекомендовали себя среди потребителей, как компания с&nbsp;качественными материалами, быстрой доставкой и&nbsp;индивидуальным подходом к&nbsp;каждому клиенту.
		+e.img-wrap--wide 
			// Без модификатора 'wide' - изображение по ширине .sContent__wrap
			+img('img/sContent-1.jpg')
		p
		p Одним из&nbsp;ключевых преимуществ DEKOR PARKET является&nbsp;то, что мы&nbsp;работаем со&nbsp;многими производителями, тем самым увеличиваем возможность выбора для своих покупателей.Для Вашего удобства мы&nbsp;создали интернет-магазин, чтобы вы&nbsp;могли сделать заказ и&nbsp;назначить доставку в&nbsp;удобное для Вас время. Так&nbsp;же Вы&nbsp;можете сделать выбор и&nbsp;вживую посмотреть на&nbsp;продукцию в&nbsp;нашем магазине, который находиться по&nbsp;адресу&nbsp;г. Москва, Каширское шоссе, д.&nbsp;19, стр.&nbsp;2, склад с1х. Строительный рынок &laquo;Каширский двор 1&raquo;. Ждем Вас в&nbsp;гости!
		+e.img-wrap--wide
			// Без модификатора 'wide' - изображение по ширине .sContent__wrap
			+img('img/sContent-2.jpg')
		p
		p Мы&nbsp;всегда рады общению с&nbsp;нашими клиентами. Если у&nbsp;вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина&nbsp;&mdash; пишите нам, и&nbsp;мы&nbsp;с&nbsp;благодарностью примем ваше мнение во&nbsp;внимание:

mixin aboutCompany()
	+e.wrap
		h3 Итернет магазин Decor Parket
		p Компания DEKOR PARKET имеет многолетний опыт на&nbsp;рынке напольных покрытий. За&nbsp;это время мы&nbsp;зарекомендовали себя среди потребителей, как компания с&nbsp;качественными материалами, быстрой доставкой и&nbsp;индивидуальным подходом к&nbsp;каждому клиенту.
		p Одним из&nbsp;ключевых преимуществ DEKOR PARKET является&nbsp;то, что мы&nbsp;работаем со&nbsp;многими производителями, тем самым увеличиваем возможность выбора для своих покупателей.Для Вашего удобства мы&nbsp;создали интернет-магазин, чтобы вы&nbsp;могли сделать заказ и&nbsp;назначить доставку в&nbsp;удобное для Вас время. Так&nbsp;же Вы&nbsp;можете сделать выбор и&nbsp;вживую посмотреть на&nbsp;продукцию в&nbsp;нашем магазине, который находиться по&nbsp;адресу&nbsp;г. Москва, Каширское шоссе, д.&nbsp;19, стр.&nbsp;2, склад с1х. Строительный рынок &laquo;Каширский двор 1&raquo;. Ждем Вас в&nbsp;гости!
		p
		h3 Наши возможности
		ul
			li Быстрая доставка
			li Низкие цены
			li Широкий ассортимент
			li Бонусы и подарки
			li Сезонные скидки
			li Программа лояльности
			li Отличное обслуживаение
			li Профессиональный менеджеры
			li Гарантия на все товары
			li Карты постоянных клиентов
			li Надежные поставщики
		p
		p Мы&nbsp;всегда рады общению с&nbsp;нашими клиентами. Если у&nbsp;вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина&nbsp;&mdash; пишите нам, и&nbsp;мы&nbsp;с&nbsp;благодарностью примем ваше мнение во&nbsp;внимание:
		p.strong Электронная почта: 
			a.link-primary(href="mailto:sale@nyuta.bx") sale@nyuta.bx

mixin guarantee()
	+e.wrap
		h3 Гарантия
		p Одним их&nbsp;главным преимуществом нашего интернет-магазина, является то&nbsp;что на&nbsp;весь наш товар дается гарантия от&nbsp;производителя.
		+infoBlock()
		p
		p Так&nbsp;же хотим обратить Ваше внимание, на&nbsp;то&nbsp;что при получении заказа, следует внимательно проверить количество и&nbsp;внешний вид товара на&nbsp;отсутствие физических дефектов, ПРИ КУРЬЕРЕ.

mixin service()
	+e.wrap
		h3 Укладка пола в квартире, доме и офисе
		p Современный офис, квартиру или загородный дом сегодня нельзя представить без прочного и&nbsp;износостойкого напольного покрытия, которое придает помещению особую элегантность и&nbsp;привлекательность. Укладка ламината является довольно распространенной и&nbsp;востребованной услугой на&nbsp;российском строительном рынке. Жителям Москвы и&nbsp;Московской области данный вид деятельности предлагает Decor Parket. Обладая приличным опытом, высоким уровнем профессионализма, специалисты компании выполняют комплексные работы по&nbsp;монтажу ламината довольно оперативно и&nbsp;качественно.
		+e.btn.btn.btn-primary(href="#") Заказать услугу
		p
		p
		p

	h3 Стоимость работ по укладке
	h5 Демонтаж старого пола
	+e.table-wrap
		table.table.table-striped
			tbody
				tr
					td Демонтаж линолеума, ковролина, фанеры
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
				tr
					td Демонтаж паркетной доски, ламината, штучного и&nbsp;щитового паркета
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
				tr
					td Демонтаж дощатого пола
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
				tr
					td Демонтаж старого плинтуса
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
				tr
					td Разборка стяжки
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
	p
	p
	h5 Монтаж основания для укладки напольных покрытий
	+e.table-wrap
		table.table.table-striped
			tbody
				tr
					td Гидроизоляция бетонной плиты и&nbsp;устройство цементной стяжки
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
				tr
					td Выравнивание основания саморастекающейся шпаклевкой
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
				tr
					td Установка лаг под фанеру
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
				tr
					td Настил фанеры по&nbsp;лагам
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
				tr
					td Укладка фанеры на&nbsp;деревянное основание
					td 1&nbsp;350&nbsp;₽/м&sup2;
					td без выноса мусора
	p
	p
	+e.btn.btn.btn-primary(href="#") Заказать услугу
