mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			block
	// end sContent

mixin blogArticle
	+b.section-title
		h1 Блог
	+e.wrap
		h3 Итернет магазин Decor Parket
		p Компания DEKOR PARKET имеет многолетний опыт на&nbsp;рынке напольных покрытий. За&nbsp;это время мы&nbsp;зарекомендовали себя среди потребителей, как компания с&nbsp;качественными материалами, быстрой доставкой и&nbsp;индивидуальным подходом к&nbsp;каждому клиенту.
		+e.img-wrap--wide 
			// Без модификатора '--wide' - изображение по ширине .sContent__wrap
			+img('img/sContent-1.jpg')
		p
		p Одним из&nbsp;ключевых преимуществ DEKOR PARKET является&nbsp;то, что мы&nbsp;работаем со&nbsp;многими производителями, тем самым увеличиваем возможность выбора для своих покупателей.Для Вашего удобства мы&nbsp;создали интернет-магазин, чтобы вы&nbsp;могли сделать заказ и&nbsp;назначить доставку в&nbsp;удобное для Вас время. Так&nbsp;же Вы&nbsp;можете сделать выбор и&nbsp;вживую посмотреть на&nbsp;продукцию в&nbsp;нашем магазине, который находиться по&nbsp;адресу&nbsp;г. Москва, Каширское шоссе, д.&nbsp;19, стр.&nbsp;2, склад с1х. Строительный рынок &laquo;Каширский двор 1&raquo;. Ждем Вас в&nbsp;гости!
		+e.img-wrap--wide
			// Без модификатора '--wide' - изображение по ширине .sContent__wrap
			+img('img/sContent-2.jpg')
		p
		p Мы&nbsp;всегда рады общению с&nbsp;нашими клиентами. Если у&nbsp;вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина&nbsp;&mdash; пишите нам, и&nbsp;мы&nbsp;с&nbsp;благодарностью примем ваше мнение во&nbsp;внимание:

mixin aboutCompany
	+e.wrap
		h3 Итернет магазин Decor Parket
		p Компания DEKOR PARKET имеет многолетний опыт на&nbsp;рынке напольных покрытий. За&nbsp;это время мы&nbsp;зарекомендовали себя среди потребителей, как компания с&nbsp;качественными материалами, быстрой доставкой и&nbsp;индивидуальным подходом к&nbsp;каждому клиенту.
		p Одним из&nbsp;ключевых преимуществ DEKOR PARKET является&nbsp;то, что мы&nbsp;работаем со&nbsp;многими производителями, тем самым увеличиваем возможность выбора для своих покупателей.Для Вашего удобства мы&nbsp;создали интернет-магазин, чтобы вы&nbsp;могли сделать заказ и&nbsp;назначить доставку в&nbsp;удобное для Вас время. Так&nbsp;же Вы&nbsp;можете сделать выбор и&nbsp;вживую посмотреть на&nbsp;продукцию в&nbsp;нашем магазине, который находиться по&nbsp;адресу&nbsp;г. Москва, Каширское шоссе, д.&nbsp;19, стр.&nbsp;2, склад с1х. Строительный рынок &laquo;Каширский двор 1&raquo;. Ждем Вас в&nbsp;гости!
		p
		h3 Наши возможности
		ul
			li Быстрая доставка
			li Низкие цены
			li Широкий ассортимент
			li Бонусы и подарки
			li Сезонные скидки
			li Программа лояльности
			li Отличное обслуживаение
			li Профессиональный менеджеры
			li Гарантия на все товары
			li Карты постоянных клиентов
			li Надежные поставщики
		p
		p Мы&nbsp;всегда рады общению с&nbsp;нашими клиентами. Если у&nbsp;вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина&nbsp;&mdash; пишите нам, и&nbsp;мы&nbsp;с&nbsp;благодарностью примем ваше мнение во&nbsp;внимание:
		p.strong Электронная почта: 
			a.link-primary(href="mailto:sale@nyuta.bx") sale@nyuta.bx
