mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			if block
				block
			else
				+section-title('Рекомендуем вам', 'Смотреть все', 'mnu')
					+weRecommend
			.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+product-card({"class": "btn-danger", "name": "Скидка&nbsp;-30%"})
						+e.slide.swiper-slide
							+product-card({"class": "btn-primary", "name": "Бестселлер"})
						+e.slide.swiper-slide
							+product-card()
						+e.slide.swiper-slide
							+product-card({"class": "btn-info", "name": "Рассрочка 0-0-24"})
						+e.slide.swiper-slide
							+product-card({"class": "btn-primary", "name": "Бестселлер"},{"class": "btn-info", "name": "Рассрочка 0-0-24"})
						+e.slide.swiper-slide
							+product-card({"class": "btn-primary", "name": "Бестселлер"},{"class": "btn-danger", "name": "Скидка&nbsp;-30%"})
				+arrow

			// end sCatalog