mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+section-title('Рекомендуем вам', 'Смотреть все', 'mnu')
				+weRecommend
			.row

				- for (var x = 1; x < 5; x++)
					.col-3
						+product-card()

			//- .slider-wrapper
			//- 	+e.slider--js.swiper
			//- 		.swiper-wrapper
			//- 			+e.slide.swiper-slide
			//- 				mixin product-card()
			//- 					+b.product-card

			//- 	.swiper-pagination
			//- 	+arrow
			// end sCatalog