mixin sFilter(data)
	// start sFilter
	+b.sFilter&attributes(attributes) 
		+e.btn.d-lg-none
			span 2234
			+icon('filters') 
			| Фильтры
		+e.wrap
			+e.body
				+e.filterHead
					h5 Фильтры
					+e.BUTTON.filterCloseBtn
						+icon('tag-close')
				+e.tags
					.row
						mixin filterTag(t)
							.col-auto
								+e.tag&attributes(attributes)
									span!= t
									+e.BUTTON.tagClose
										+icon('tag-close')
						+filterTag(`Очистить фильтры`).--clear-all
						+filterTag(`31 класс`)
						+filterTag(`ХДФ`)
						
				+ddGroup()
					+e.wraper
						+ddGroupItem('Цена, ₽').active
							.extra-controls
								label
									span от
									input.js-input-from(type='number' value='0')
								label
									span до
									input.js-input-to(type='number' value='0')
							.range-slider
								input.js-range-slider(type='number' value='')
						+e.item
							+e.head.form-switch
								label
									h5 Товары со&nbsp;скидкой
									input.form-check-input(type='checkbox' role='switch')
						+e.item
							+e.head.form-switch
								label
									h5 Только в&nbsp;наличии
									input.form-check-input(type='checkbox' role='switch')
						+ddGroupItem('Бренд') 
							+in-c("checkbox", 'Название фильтра')
							+in-c("checkbox", 'Название фильтра')(checked)
							+in-c("checkbox", 'Название фильтра')
							+in-c("checkbox", 'Название фильтра')
						+ddGroupItem('Класс износостойкости')
							+in-c("checkbox", '31 класс')(checked)
							+in-c("checkbox", '32 класс')
							+in-c("checkbox", '33 класс')
							+in-c("checkbox", '34 класс')
						+ddGroupItem('Заголовок фильтра')
							+in-c("checkbox", 'Название фильтра')
							+in-c("checkbox", 'Название фильтра')(checked)
							+in-c("checkbox", 'Название фильтра')
							+in-c("checkbox", 'Название фильтра')
						+ddGroupItem('Заголовок фильтра') 
							+in-c("checkbox", 'Название фильтра')
							+in-c("checkbox", 'Название фильтра')(checked)
							+in-c("checkbox", 'Название фильтра')
							+in-c("checkbox", 'Название фильтра')
				+e.fixedBtns
					+e.BUTTON.btn-showMore.btn.btn-primary Посмотреть 296 предложений
		//- +e.btn-bottom.d-lg-none
		//- 	+icon('filter') 
		//- 	| Фильтры
	// end sFilter