mixin sFilter(data)
	// start sFilter
	+b.sFilter&attributes(attributes) 
		+e.btn.d-lg-none
			span 2
			+icon('filters') 
			| Фильтры
		+e.wrap
			+e.body
				+e.filterHead
					h5 Фильтры
					+e.BUTTON.filterCloseBtn
						+icon('tag-close')
						
				+ddGroup()
					.sFilter__tags
						.row
							mixin filterTag(t)
								.col-auto
									.sFilter__tag&attributes(attributes)
										span!= t
										button.sFilter__tagClose
											+icon('tag-close')
							+filterTag(`Очистить фильтры`).sFilter__tag--clear-all
							+filterTag(`31 класс`)
							+filterTag(`ХДФ`)
					+e.wraper
						+ddGroupItem('Цена, ₽').active
							.extra-controls
								label
									span от
									input.js-input-from(type='number' value='0')
								label
									span до
									input.js-input-to(type='number' value='0')
							.range-slider
								input.js-range-slider(type='number' value='')
						+e.item
							+e.head.form-switch
								label
									h5 Товары со&nbsp;скидкой
									input.form-check-input(type='checkbox' role='switch')
						+e.item
							+e.head.form-switch
								label
									h5 Только в&nbsp;наличии
									input.form-check-input(type='checkbox' role='switch')
						+ddGroupItem('Бренд') 
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')(checked)
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
						+ddGroupItem('Класс износостойкости')
							+in-c("checkbox", '31 класс', 'name', '(00)')(checked)
							+in-c("checkbox", '32 класс', 'name', '(00)')
							+in-c("checkbox", '33 класс', 'name', '(00)')
							+in-c("checkbox", '34 класс', 'name', '(00)')
						+ddGroupItem('Заголовок фильтра')
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')(checked)
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
						+ddGroupItem('Заголовок фильтра') 
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')(checked)
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
							+in-c("checkbox", 'Название фильтра', 'name', '(00)')
				+e.fixedBtns
					+e.BUTTON.btn-showMore.btn.btn-primary Посмотреть 296 предложений
		//- +e.btn-bottom.d-lg-none
		//- 	+icon('filter') 
		//- 	| Фильтры
	// end sFilter