.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary);
	//
	--sPT: #{rem(12)};
	--sPB: #{rem(12)};
	background-color: #fff;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(16)};
		--sPB: #{rem(16)};
	}
	// border-top: 1px solid rgba(0, 0, 0, 0.1);
	// box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
	.top-nav__row {
		--bs-gutter-x: 16px;
	}
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0);
	transition: box-shadow 0.2s linear;
	&.fixed {
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
	}
	.row {
		align-items: center;
		position: relative;
		@include media-breakpoint-down(lg) {
			--bs-gutter-x: 22px;
		}
	}

	.menu {
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: 32px;
		}
		@include media-breakpoint-up(lg) {
			@include roww(20px, m);

			a {
				padding-top: rem(28);
				padding-bottom: rem(28);
				padding-left: 0;
				padding-right: 0;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					bottom: 0px;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: currentColor;
					transform-origin: left;
					transform: scaleX(var(--show, 0));
					@include mt;
				}
				&:hover {
				}
				&.active {
					--show: 1;
					color: $primary;
				}
			}
		}
	}
	.logo-wrap {
		//  padding-top: 10px;
		//  padding-bottom: 10px;
		// margin-top: 4px;
		// margin-bottom: 4px;
		a {
			display: inline-block;
		}
		img {
			width: var(--logo-size);
			max-width: 100%;
		}
		// svg {
		// 	max-width: var(--logo-size);
		// }
		@include media-breakpoint-up(xl) {
			margin-right: var(--logo-x);
		}
		// margin-right: rem(22);
	}

	&__tel {
		.icon {
			font-size: 24px;
		}
	}

	.search-toggle--mobile {
		.icon {
			font-size: 24px;
		}
	}

	&__container {
		position: relative;
	}
	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

.top-btns-wrap {
	@include media-breakpoint-down(lg) {
		padding-bottom: calc(env(safe-area-inset-bottom) + 0.1px);
		position: fixed;
		background-color: #fff;
		z-index: 700;
		// top: calc(var(--vh) * 100);
		// transform: translateY(-100%);
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: inset 0px 1px 0px #e5e6e4;
	}
	@include media-breakpoint-up(lg) {
		.container {
			padding-left: 0;
			padding-right: 0;
			max-width: none;
			width: initial;
		}
	}
}
@include media-breakpoint-down(lg) {
	.fixed {
		.top-btns-wrap {
			z-index: 12;
		}
	}
}
.top-btns {
	display: flex;
	&__inner {
		position: relative;
	}
	@include media-breakpoint-up(lg) {
		@include roww(0.5rem, m);
	}
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: 0.75rem;
	}
	@include media-breakpoint-up(xxl) {
		--bs-gutter-x: 1rem;
	}
	@include media-breakpoint-down(lg) {
		justify-content: space-between;
		// justify-content: center;
		padding-left: rem(8);
		padding-right: rem(8);
	}
	&__title {
		font-size: rem(14);
		line-height: 1;
		display: block;
		// margin-top: auto;
		// display: var(--d, none);
		margin-top: rem(8);
	}
	&__btn {
		@extend .btn;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
		color: $body-color;
		font-weight: 400;
		border: none;
		width: rem(72);
		height: 100%;
		padding: rem(8) 0;
		border-radius: 0;
		&.active,
		&.current,
		&:hover {
			// color: $primary;
			// .top-btns__counter {
			// 	background-color: $body-color;
			// }
		}
		// &:hover {
		// 	.icon {
		// 		color: $primary;
		// 	}
		// 	@include media-breakpoint-up(lg) {
		// 		border-color: $primary;
		// 		background-color: $primary;
		// 	}
		// }
		// @include media-breakpoint-down(lg) {
		// 	border: none;
		// 	border-top: 2px solid transparent;
		// 	&.current {
		// 		--d: block;
		// 	}
		// 	&.active,
		// 	&.current,
		// 	&:hover {
		// 		border-color: $primary;
		// 	}
		// }
		@include media-breakpoint-up(lg) {
			// border: 1px solid #dfdfdf;
			padding: 0;
			// border-radius: 50%;
		}

		.icon {
			font-size: rem(24);
			flex-shrink: 0;

			// &-user,
			// &-basket {
			// 	fill: none;
			// 	stroke: currentColor;
			// 	stroke-width: 2px;
			// }
		}
		// .icon-menu-small {
		// 	font-size: rem(16);
		// }
	}

	&__counter {
		color: $white;
		position: absolute;
		right: -4px;
		top: -2px;
		border-radius: 100px;
		min-width: 16px;
		height: 16px;
		background-color: $primary;
		font-weight: 700;
		//  background: #E8A200;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: 12px;
		line-height: calc(16 / 12);
		padding-top: 2px;
		// @include media-breakpoint-down(lg) {
		// 	left: 60%;
		// 	top: -30%;
		// }
	}
}

.catalog-toggle {
	@extend .btn, .btn-primary;
	display: inline-flex;
	align-items: center;
	// cursor: pointer;
	// margin-top: rem(10);
	// @include mt;
	padding: rem(11) rem(15);
	.icon {
		font-size: rem(24);
		// stroke-width: 2px;
		// fill: none;
		margin-right: 10px;
		// stroke: currentColor;
		// stroke-linecap:round;
		// stroke-linejoin:round;
	}
	// &:hover,
	// &.active{
	// 	color: $warning;
	// }
	&__toggle-icon {
		width: rem(24);
		height: rem(24);
		position: relative;
		margin-right: 10px;
		span {
			@include mt;
			width: rem(18);
			height: 2px;
			background-color: #fff;
			@include a-cent;
			// position: relative;
			display: block;
			&::before,
			&:after {
				@include mt;
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 2px;
				background-color: #fff;
			}
			&::before {
				top: -5px;
			}
			&::after {
				bottom: -5px;
			}
		}
	}
	&.active {
		.catalog-toggle__toggle-icon {
			span {
				background-color: transparent;
				&::before {
					top: 50%;
					transform: translateY(-50%) rotate(-45deg);
				}
				&::after {
					top: 50%;
					transform: translateY(-50%) rotate(45deg);
				}
			}
		}
	}
}

.catalog-menu {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	max-height: calc(100vh - 120px);
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	padding-top: rem(32);
	display: none;
	@include media-breakpoint-down(lg) {
		height: calc(100vh - 110px);
		.sub-menu {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: calc(100vh - 130px);
			padding: rem(20) 0;
			overflow-y: auto;
			overflow-x: hidden;
			background-color: #fff;
			z-index: 200;
			@include mt;
			&:not(.active) {
				transform: translateX(100%);
			}
			.catalog-menu-back,
			a {
				@include media-breakpoint-up(md) {
					max-width: 660px;
				}

				@include media-breakpoint-up(sm) {
					max-width: 480px;
					margin-left: auto;
					margin-right: auto;
				}
				margin-left: 24px;
				margin-right: 24px;
			}
		}
		.catalog-menu-back {
			position: relative;
			margin-bottom: 0;
			padding-top: 16px;
			padding-bottom: 20px;
			display: block;
			font-weight: 600;
			cursor: pointer;
			padding-left: 30px;
			font-size: 20px;
			cursor: pointer;
			&:before {
				content: var(--chevron);
				transform: rotateY(180deg);
				position: absolute;
				left: 0;
				top: em(14);
			}
		}
		a {
			position: relative;
			margin-bottom: 0;
			padding-top: 16px;
			padding-bottom: 16px;
			display: block;
			&::before {
				content: "";
				left: -50vw;
				bottom: 0;
				background: #cdd0d2;
				opacity: 0.5;
				width: 200vw;
				height: 1px;
				position: absolute;
			}
		}
	}
	&.active {
		display: block;
	}
	.h3 {
		margin-bottom: rem(36);
		@include media-breakpoint-down(lg) {
			font-size: 20px;
			margin-bottom: 28px;
		}
	}
	li {
		list-style: none;
	}
	.menu-item-has-children {
		@include media-breakpoint-up(xxl) {
			width: calc(100% / 4);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(74);
			width: calc(100% / 3);
		}
		padding-left: calc(var(--bs-gutter-x) / 2 + 30px) !important;
		& > a {
			@include media-breakpoint-up(lg) {
				&:after {
					display: none;
				}
			}
			position: relative;
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(24);
				margin-left: rem(-30);
			}
			font-weight: bold;
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
			}
			font-size: 16px;
			display: flex;
			align-items: center;
			img {
				margin-right: rem(8);
			}
			// img{
			// 	position: absolute;

			// }
		}
	}
	.container > ul {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;
			@include roww(30px);
		}
	}
	.sub-menu {
		display: block;
		@include media-breakpoint-up(lg) {
			li {
				margin-bottom: rem(12);
			}
		}
	}
}

.col-top-js {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 1px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	z-index: 2;
	@include mt;
	&:not(.active) {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
}
.search-toggle,
.toggle-menu-mobile {
	z-index: 3;
	position: relative;
	cursor: pointer;
}

.top-nav--textile {
	.container {
		padding-top: 11px;
		padding-bottom: 11px;
		@include media-breakpoint-down(md) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.icon-chevron-down {
		color: $warning;
	}
	.top-nav__btn {
		padding: 15px 30px;
		border: 2px solid $warning;
		font-weight: 600;
		@include mt;
		&:hover {
			background-color: $warning;
		}
		@include media-breakpoint-down(md) {
			padding: 5px 10px;
		}
		// @include media-breakpoint-down(sm) {
		// 	display: none;
		// }
	}
	.topLine__tel {
		&:hover {
			.topLine__tel-dt {
				color: $warning;
			}
		}
	}
	.topLine__tel-dt {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(md) {
			font-weight: 400;
		}
	}

	.icon-tel {
		font-size: 24px;
		stroke: none;
	}
	.topLine__num {
		white-space: nowrap;
	}
	.topLine__content {
		width: auto;
	}
	.textile-menu__btn {
		margin-left: 0;
	}
}
