mixin sThanx(data)
	// start sThanx
	+b.SECTION.sThanx.section#sThanx&attributes(attributes)
		.container
			+e.wrap 
				+e.check
					+icon('check-lg')
				h2 Спасибо, ваш заказ&nbsp; &#8470;3982500&nbsp;оформлен!
				p В&nbsp;ближайшее время оператор свяжется с&nbsp;вами и&nbsp;уточнит детали доставки!
				+e.btn(href="#") Вернуться на&nbsp;главную
			
	// end sThanx