mixin sCart(t, s, catalog)
	// start sCart
	+b.SECTION.sCart.section#sCart&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!= t
					if s
						span!= s
			+e.row.row
				.col
					block
				if catalog
					.col-12.order-xl-last
						+sCatalog()
							+section-title('Добавьте к заказу')
				.col-12.col-xl-auto.summary-container-js
					+b.summary--js
						+e.item
							.h3 Итого
							.h3 18&nbsp;447&nbsp;₽
						+e.item--btn
							+e.btn.btn.btn-primary(href="#") Перейти к&nbsp;оформлению
							.small.text-secondary.mt-2 Доступные способы и&nbsp;время доставки можно выбрать при оформлении заказа
						+e.item--cart
							.h5 Ваша корзина
							.small.text-secondary 3&nbsp;товара &bull; 24&nbsp;790&nbsp;гр 
						+e.item
							p Товары
								span (3)
							.h6 22&nbsp;987&nbsp;₽
						+e.item
							p Скидка
							.h6.text-danger &minus;&nbsp;4&nbsp;540&nbsp;₽
						+e.item
							p Доставка
							.h6 Бесплатно
					
	// end sCart